default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
    - id: flake8
      name: flake8
      exclude: 'node_modules|env|venv|tests|migrations'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.3.0'
    hooks:
    - id: mypy
      exclude: 'node_modules|env|venv|tests|migrations'
